<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title},~{::main},~{::script} )}">

<head>

    <title>Carrito</title>

</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabla-contenedor">
                        <div class="table-responsive">
                            <table class="align-middle text-center w-100">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio unitario</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${carrito}">
                                        <td th:text="${item.producto.nombre}"></td>
                                        <td th:text="${item.cantidad}"></td>
                                        <td th:text="${item.producto.precio}"></td>
                                        <td th:text="${item.total}"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4"></td> 
                                        <td><strong>Total:</strong></td>
                                        <td><strong></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="botones d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                <a class="btn1 btn w-100 w-md-auto">Añadir producto</a>
                                <button type="button" class="btn btn-success" id="btnPagar">Pagar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>
    <script></script>

</body>

</html>